/* uncompressed CSS styles for reference (normalize.css removed) */
html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body, html {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 100%;
}

body {
  background: #fff;
  overflow-x: hidden;
}

@-webkit-keyframes slideRight {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes slideRight {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@-webkit-keyframes tooltip {
  from {
    bottom: 110%;
    opacity: 0;
  }
  to {
    bottom: 105%;
    opacity: 1;
  }
}
@keyframes tooltip {
  from {
    bottom: 110%;
    opacity: 0;
  }
  to {
    bottom: 105%;
    opacity: 1;
  }
}
html, body {
  font-family: "Comfortaa", Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.container {
  max-width: 574px;
  margin: 150px auto;
  box-sizing: border-box;
}

.projectDonate {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 30px 50px;
  box-sizing: border-box;
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 105%;
  left: 0;
  background: #555;
  padding: 30px 20px;
  text-align: center;
  color: #fff;
  width: 100%;
  border-radius: 6px;
  font-size: 1.6em;
  opacity: 0;
  z-index: -10;
  -webkit-animation: tooltip ease-in 1;
          animation: tooltip ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.tooltip:after {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 12%;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 16px solid #555;
}

.progress {
  width: 100%;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ddd;
}
.progress .progress__indicator {
  width: 0%;
  height: 100%;
  background: #E55A44;
  -webkit-animation: slideRight ease-in-out 1;
          animation: slideRight ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

p {
  color: #828282;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.8em;
}
p strong {
  color: #E55A44;
  font-weight: 700;
}
p em {
  color: #828282;
  font-weight: 700;
  font-style: normal;
}

form {
  height: 86px;
  width: 100%;
  display: block;
  margin-bottom: 25px;
}
form .inputWrap {
  height: 100%;
  width: 47%;
  float: left;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}
form .inputWrap.active {
  border-color: #3AC026;
}
form .inputWrap span {
  width: 15%;
  height: 100%;
  float: left;
  line-height: 80px;
  display: inline-block;
  font-size: 1.6em;
  text-align: right;
  color: #828282;
}
form .inputWrap input {
  float: left;
  height: 100%;
  width: 85%;
  outline: none;
  border: none;
  padding: 0 4%;
  box-sizing: border-box;
  font-size: 1.6em;
  font-weight: 700;
  color: #555;
}
form button {
  height: 100%;
  width: 47%;
  float: right;
  background: #3AC026;
  outline: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1.6em;
  letter-spacing: 0.05em;
  text-align: center;
  text-shadow: 0 2px 0 #34ab22;
  font-family: "Comfortaa";
  font-weight: 700;
  border: 1px solid #34ab22;
  box-shadow: 0 2px 0 #34ab22;
  -webkit-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
  line-height: 86px;
  position: relative;
  top: 0;
}
form button:hover {
  box-shadow: 0 1px 0 #34ab22;
  top: 2px;
  background: #39bc25;
}
form button:focus {
  outline: none;
}

.addInfo {
  color: #0C97CF;
  font-style: italic;
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  position: relative;
}
.addInfo:hover {
  color: #0b85b7;
}

.actionLinks {
  display: block;
  background: blue;
  margin: 25px 0 0 0;
}
.actionLinks button {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #828282;
  font-size: 1.4em;
  padding: 15px 0;
  width: 47%;
  font-family: "Comfortaa";
  font-weight: 700;
  box-shadow: 0 2px 0 #ddd;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out .1s;
          transition: all ease-in-out .1s;
  overflow: hidden;
}
.actionLinks button:first-child {
  float: left;
}
.actionLinks button:last-child {
  float: right;
}
.actionLinks button .text {
  display: inline-block;
  height: 40px;
  line-height: 44px;
  position: relative;
}
.actionLinks button .text:before {
  content: '';
  position: absolute;
  left: -24px;
  top: 0%;
  opacity: 0;
  height: 100%;
  width: 10px;
  background: url("icon_download.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: all ease-in .2s;
          transition: all ease-in .2s;
}
.actionLinks button[class$=save] .text:before {
  background: url("icon_download.svg") no-repeat;
  background-position: center center;
  background-size: contain;
}
.actionLinks button[class$=share] .text:before {
  background: url("icon_share.svg") no-repeat;
  background-position: center center;
  background-size: contain;
}
.actionLinks button:hover {
  box-shadow: 0 1px 0 #d5d5d5;
  top: 2px;
  background: #f2f2f2;
  color: #757575;
  border: 1px solid #d5d5d5;
}
.actionLinks button:hover .text:before {
  width: 18px;
  opacity: .4;
}
.actionLinks button:focus {
  outline: none;
}

/*# sourceMappingURL=main.css.map */